@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap");
@layer base {
  body {
    @apply bg-slate-900 font-body px-5 text-white;
  }
}

@layer components {
  .page-container {
    max-width: 1080px;
    margin: 0 auto;
  }
  .swiperSimilar .swiper-slide,
  .swiperdetails .swiper-slide,
  .swiper-list .swiper-slide {
    width: 280px !important;
    height: auto;
  }
  .banner .swiper {
    height: 100%;
  }
}
